 <!-- educacion -->
 <section id="educacion">
    <h2 class="text-center titulo">Educación</h2>
    <div class="container text-center">
       <!--educacion primer item-->
      <div class="row">
        <div class="col-1 ">
         <img src="assets/IMG/logo-universidad.png" alt="logo de la UnLaR"    width="70%">
          </div>
        <div class="col-10">
          <div >
          <strong>Universidad Nacional de La Rioja</strong>
        </div>
          <p>
           2016-2021.
          </p>
          </div>
          
             <!--botones/edicion-->
             <div class="col-1">
              <button class="casa">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item" type="button" data-bs-toggle="modal" data-bs-target="#educacionModal">
                    <i class="fa-solid fa-pen"></i>
                  </li>
                  <li class="list-group-item"  type="button" data-bs-toggle="modal" data-bs-target="#eliminaeducModal">
                    <i class="fa-solid fa-trash-can"></i>
                  </li>
                </ul>
              </button>
            </div>

            <!--educacion segundo item-->
            <div class="row">
                <div class="col-1">
                  <img src="assets/IMG/logoArgenPrograma.jpg" alt="logo de Argentina programa"   width="95%" >
                   </div>
                <div class="col-10">
                  <div >
                    <strong>#Sé programar</strong>  
                  </div>
                  <p>
                    2022
                  </p>
                  </div>
                </div>
                
                  <!--educacion tercer item-->
                  <div class="row">
                    <div class="col-1 ">
                      <img src="assets/IMG/codo-a-codo.png" alt="logo de codo a codo" width="95%">
                       </div>
                    <div class="col-10">
                      <div >
                        <strong>CodoaCodo inicial</strong>  
                      </div>
                      <p>
                        2022
                      </p>
                      </div>
                    </div>
                  <!--educacion cuarto item-->
              <div class="row">
                <div class="col-1">
                  <img src="assets/IMG/logoArgenPrograma.jpg" alt="logo de Argentina programa" width="95%" >
                   </div>
                <div class="col-10">
                  <div >
                    <strong>#Yo programo</strong>  
                  </div>
                  <p>
                    2022-2023
                  </p>
                  </div>
                </div>


                  </div>
