
    <!-- sobre mi -->
    <section id="sobre-mi" class="border">
       
        <div class="container text-center ">
          <div class="row ">
            <div class="col-6 ">
              <div class="img position-absolute top-5 start-20 bottom-30 translate-middle">
                <a >
                <img class="imgPerfil rounded-circle" src="assets/IMG/foto-editada.jpg"    alt="veronica carpio" title="imagen veronica carpio">
                </a>
            </div>
            <h2 class="saludo text-center mt-4 pb-3 titulo">Hola soy</h2>
            <h1 class="nombrePerfil">
               {{ nombre }} {{ apellido }}
            </h1>
          </div>
          <div class="col-6 text-center presentacion">
            <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ex perferendis placeat harum. Perspiciatis debitis sapiente expedita earum cupiditate facere minima! Distinctio suscipit delectus placeat labore doloribus odit quaerat dolorem!
                  orem ipsum dolor sit amet consectetur adipisicing elit. Ea ex perferendis
                  orem ipsum dolor sit amet consectetur adipisicing elit. Ea ex perferendis
                  orem ipsum dolor sit amet consectetur adipisicing elit. Ea ex perferendis
                  orem ipsum dolor sit amet consectetur adipisicing elit. Ea ex perferendis
            </p>
          </div>
          </div>
        
     
      </div>
    </section>
