.fa-linkedin{
    color:  #2b036bb9;
}
.fa-github{

    color:  #2b036bb9;
}
.fa-instagram{
    color:  #2b036bb9;
}
 
.fa-brands:hover{
    color: #A370F7;
    
}

.items {
    
    font-size: 28px;
}