<ul class="items list-group list-group-horizontal ">
    <li class="list-group-item ">
      <a href="https://www.linkedin.com/in/veronica-carpio-334352252/" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-lg fa-linkedin  "></i>
    </a>
    </li>
    <li class="list-group-item">
      <a href="https://github.com/verocarpio" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-github"></i>
    </a>
    </li>
    <li class="list-group-item">
      <a href="https://www.instagram.com/verocarpio_/" target="_blank" rel="noopener noreferrer" >
      <i class="fa-brands fa-instagram"></i>
    </a>
    </li>
  </ul>
