
 <!-- botones para login -->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn-btn-light" data-bs-toggle="modal"data-bs-target="#loginModal">
                    <i class="fa-solid fa-lock"></i>
                  </button>
                 
              
                  <button type="button" class="btn-btn-light" data-bs-toggle="modal"
                  data-bs-target="#loginModal">
                  <i class="fa-solid fa-lock"></i>
                   </button>
                   